.header {
  display: flex;
  align-items: center;
  padding-inline: var(--main-padding);
  background-color: var(--header-background-color);
  block-size: 64px;
  inline-size: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.buttonLink {
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
  text-decoration: none;
  block-size: 100%;
  padding-inline: 23px;
  transition: background-color 0.1s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.inactive:hover {
  background-color: var(--hover-button-background-color);
}

.active {
  color: var(--button-color);
  background-color: var(--button-active-background-color);
}

.inactive {
  color: var(--inavtive-button-color);
}